<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" description="Personal Website For Alan Menchaca">
    <title>Alan Menchaca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Top Bar -->
    <div class="top_bar">

        <div class="left_header">
            <h3>
                <a href="{{ url_for('personal') }}" class="undecorated_links">Personal</a>
                <a href="https://github.com/amenchaca-berkeley" target="_blank" rel="noopener noreferrer" class="undecorated_links">GitHub</a>
                <a href="https://www.linkedin.com/in/alanmenchaca/" target="_blank" rel="noopener noreferrer" class="undecorated_links">LinkedIn</a>
            </h3>
        </div>

        <div class="center_header">
            <h1>
                <a href="#" class="undecorated_links">Alan Menchaca</a>
            </h1>
        </div>

        <div class="right_header">
            <h3>
                <a href="#" class="undecorated_links">About Me</a>
                <a href="#resume" class="undecorated_links">Resume</a>
                <a href="#projects" class="undecorated_links">Projects</a>
            </h3>
        </div>

    </div>



    <!--About Me Section-->
    <div class="about_me" id="about_me">
        <div>
            <img src="https://github.com/Cal-CS-61A-Staff/staff-images/raw/master/fa23/ai/alan-menchaca.jpg" alt="ME">
        </div>
        <div id="about_me_header">
            <h2>About Me</h2>
            I am a second-year student at UC Berkeley, pursuing a Bachelor's degree in Computer Science. 
            My academic journey reflects my unwavering commitment to learning and expanding my knowledge in the field of technology. 
            With a strong inclination toward software development, I am passionate about leveraging my skills to create innovative solutions that contribute to the ever-evolving tech landscape. 
            My affinity for overcoming challenges and my upbringing in Delano, CA, have instilled in me a determined work ethic and a drive for excellence.
        </div>
        <div>
            <img src="https://github.com/Cal-CS-61A-Staff/staff-images/raw/master/fa23/ai/alan-menchaca.jpg" alt="ME">
        </div>
    </div>

    <!--Resume Section-->
    <div class="resume" id="resume">
        <div>
        <h3>
            <h2>Resume</h2>
            <em>Information Technology Summer Intern</em> (2022 - 2023)
            <ul>
                <li>Position serving as the first point of contact for technical issues and requests from users. Also responsible for general day-to-day Help Desk tasks. Under general supervision, learn and perform a variety of operational duties related to maintaining and supporting the Company's information technology systems.</li>
            </ul>

            <em>Job of Your Choice???</em> (TBD)
            <ul>
                <li>I am currently looking for work. PLEASE</li>
            </ul>
        </h3>

        <div id="resume_linkedin_link">
            Learn More: 
            <a href="https://www.linkedin.com/in/alanmenchaca/" target="_blank" rel="noopener noreferrer" class="undecorated_links">LinkedIn</a>

        </div>

        </div>

        <img src="https://static-00.iconduck.com/assets.00/resume-icon-397x512-doqhpuo9.png" alt ="web dev">
    </div>



    <!--Projects Section-->
    <div class="projects" id="projects">
        <img src="https://freepngimg.com/thumb/categories/1424.png" alt="project_image">

        <div>
            <h2>Projects</h2>
            <h3>       
            <em>CS61A</em>
                <ul>
                    <li>Hog</li>
                    <li>Cats</li>
                    <li>Ants</li>
                    <li>Scheme</li>
                </ul>

            <em>CS61B</em>
                <ul>
                    <li>Project 0</li>
                    <li>Project 1</li>
                </ul>
            </h3>

        <div id="projects_github_link">
            Learn More: <a href="https://github.com/amenchaca-berkeley" target="_blank" rel="noopener noreferrer" alt="My GitHub">GitHub</a>
        </div>

        </div>
    </div>



    <!--Bottom Section-->
    <div class="bottom_section">
        <div>YOU MADE IT!<br>
            Nowhere Left To Scroll
        </div>
        <img src="https://static.vecteezy.com/system/resources/thumbnails/009/665/315/small/group-of-cute-kitty-cat-family-greeting-cartoon-png.png" alt="reward">

    </div>

</body>
</html>



